/**
 * @file
 * Styles for system messages.
 */
 
.alert-success:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  content: "\f00c";
  color: green;
}

[dir="rtl"] .alert-success:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  content: "\f00c";
  color: green;
}

.alert-warning:before {
  content: "\f071";
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  color: orange;
}

[dir="rtl"]  .alert-warning:after {
  content: "\f071";
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  color: orange;
}

.alert-danger:before {
  content: "\f00d";
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  color: red;
}

[dir="rtl"] .alert-danger:after {
  content: "\f00d";
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 20px;
  color: red;
}
