/**
 * @file
 * Override of misc/vertical-tabs.css.
 */

.vertical-tabs {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 4px;
}
.vertical-tabs__menu {
  float: left; /* LTR */
  width: 241px;
  margin: 10px -100% -1px 0; /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ddd;
  line-height: 1;
}
[dir="rtl"] .vertical-tabs__menu {
  float: right;
  margin: 0 0 -1px -100%;
}
.vertical-tabs__menu-item {
  position: relative;
}
.vertical-tabs__menu-item.is-selected {
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
  border-right: none; /* LTR */
  border-left: none;
  box-shadow: 0 5px 5px -5px hsla(0, 0%, 0%, 0.3);
  border-bottom: 1px solid #ddd;
}
.vertical-tabs__menu-item.last {
  border-bottom: none;
}
[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-left: none;
  border-right: none;
}
.vertical-tabs__menu-item:focus,
.vertical-tabs__menu-item:active {
  z-index: 2;
}
.vertical-tabs__menu-item.is-selected:focus {
  outline: none;
}
.vertical-tabs__menu-item a {
  display: block;
  padding: 10px 15px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f0;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  border-left: 1px solid #ddd;
}

[dir=rtl] .vertical-tabs__menu-item a {
  border-left: none;
  border-right: 1px solid #ddd;
}

.vertical-tabs__menu-item:last-child a {
  border-bottom: 0;
}
.vertical-tabs__menu-item.is-selected a,
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: #fff;
  text-shadow: none;
  text-decoration: none;
}
.vertical-tabs__menu-item.is-selected a {
  color: #004f80;
  border-bottom: none;
  outline: none;
  text-decoration: none;
}
[dir=rtl] .vertical-tabs__menu-item.is-selected a {
  border-left: 0;
  padding-left: 15px;
}
.vertical-tabs__menu-item.is-selected a:hover,
.vertical-tabs__menu-item.is-selected a:focus {
  color: #007ecc;
}

.vertical-tabs__panes {
  margin: 0 0 0 240px; /* LTR */
}
[dir="rtl"] .vertical-tabs__panes {
  margin: 0 240px 0 0;
}
.vertical-tabs__panes:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-tabs__pane {
  margin: 0;
  padding: 0;
  border: 0;
  color: #595959;
}
.vertical-tabs__menu-item-summary {
  display: block;
  padding-top: 0.4em;
  color: #666;
}
.vertical-tabs__pane > summary {
  display: none;
}
